[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flasgger = '*'
flask-swagger = "*"
flask-swagger-ui = "*"
requests = "*"
pyodbc = "==4.0.30"
psycopg2-binary = "==2.8.6"
SQLAlchemy = "==1.4.20"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"
